
/* top title */
h1 {
    background-color: gray; 
    text-align: center; 
    padding: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* left and right sections */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: aqua;
}

/* left section with images and parageaph above and below */
.leftside {
    width: 60%;
    background-color: bisque;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* right section w/ sidebar*/
.sidebar {
    width: 40%;
    background-color: lightgray;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/* images and captions */
.images {
    display: flex;
    gap: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.caption {
    font-size: 14px;
    margin-top: 5px;
}
